# 02 Exploration Data Analysis

In [2]:
#Let's find some interesting things about popular restaurants in AZ from 2015 to 2017
#What are the top 30 restaurants in AZ with most reviews?
#What are the top type of restaruants in AZ?

In [3]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#read the data
df = pd.read_csv('C:/Users/ymp/Yelp_Business_Proj/df_AZ_final.csv')
df.head(3)

,Unnamed: 0,business_id,name,latitude,longitude,review_count,city,average_stars,categories,funny,user_id,review_id,text,stars,date,useful,cool
0,24,-01XupAWZEXbdNbxNg5mEg,18 Degrees Neighborhood Grill,33.639205,-111.881925,77,Scottsdale,3.0,"['Sports Bars', 'Nightlife', 'Restaurants', 'A...",1,-XoCb6sUMa7NoFayUW0FlA,Z7ufB8dFZ_9VjkcntOEsig,Horrible! Had the happy hour nachos. The che...,1,2016-09-03,2,0
1,26,-01XupAWZEXbdNbxNg5mEg,18 Degrees Neighborhood Grill,33.639205,-111.881925,77,Scottsdale,3.0,"['Sports Bars', 'Nightlife', 'Restaurants', 'A...",0,TqZOtEPp28bHyHyfkXonNw,pK6q9LKp1W1qQ0boE6kcsA,not bad for a hockey rink.....very good service,4,2017-04-05,0,0
2,27,-01XupAWZEXbdNbxNg5mEg,18 Degrees Neighborhood Grill,33.639205,-111.881925,77,Scottsdale,3.0,"['Sports Bars', 'Nightlife', 'Restaurants', 'A...",0,o0yk9cD97rPqsNCcb4DBFQ,RjIl7CW18ZYoUZkAdLHYig,"Went to this little place on Groupon, not one ...",1,2017-04-12,0,0

### (1) What are the top 30 restaurants in AZ with most reviews?

In [8]:
#Here let's extract the id and name from the df and calculate the rank of each business' review counts
#The calculation of _name is very slow, take your coffee
_id = list(df.groupby(['business_id'])['review_id'].count().index)
_name = [pd.unique(df[df['business_id'] == result]['name'])[0] for result in _id]

In [9]:
#Calculate ranks
rank = list(df.groupby(['business_id'])['review_id'].count())

In [10]:
#Now let's plot the top 30 restaurants
plt.figure(figsize=(12,12))
obj = [_name[i] for i in np.argsort(_count)[::-1][:30]]
y_pos = np.arange(len(obj))
plt.barh(y_pos, np.sort(rank)[::-1][:30], align='center', alpha = 0.7)
plt.yticks(y_pos,objects)
plt.title('Top 30 restaurants Reviews in AZ 2015-2017')
plt.xlabel('NO. Reviews')
plt.gca().invert_yaxis()

NameError: name '_count' is not defined

In [ ]:
#Now let's check the average stars of those most reviewed restaurants
average_stars = df.groupby(['business_id'])['average_stars'].mean()
plt.figure(figsize=(12,12))
y_pos = np.arange(len(obj))
plt.barh(y_pos, [average_stars[i] for i in np.argsort(rank)[::-1][:30]], align='center', alpha = 0.7)
plt.yticks(y_pos,obj)
plt.xlabel('Average stars')
plt.title('Average Stars for Top 30 Restaurants')
plt.gca().invert_yaxis()

In [ ]:
# As we can see the top 30 restaurants all have average stars more than 4.0

### (2) What are the top type of restaruants in AZ?

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
corpus = df['categories']
X = vectorizer.fit_transform(corpus) 
X = np.sum(X, axis=0)
X = np.array(X)[0]
cate_label = vectorizer.get_feature_names()

In [ ]:
top_10_label = [cate_label[i] for i in np.argsort(X)[::-1][1:11]]
top_10_percentage = [X[i]/sum(X) for i in np.argsort(X)[::-1][1:11]]
print('%25s %25s' % ('Label name', 'Percentage of all labels'))
for i in range(10):
    print('%24s  %24f' % \
          (top_10_label[i], top_10_percentage[i]))

In [ ]:
# Well, people in AZ definately love bars the most!